.container {
  padding-left: 20px;
  height: 100vh;
}

.display {
  width: 300px;
  background-color:rgb(240, 121, 212);
  color: white;
  padding: 5px;
  text-align: right;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 0px grey;
  border-radius: 5px ;
}

.keyboard-container {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}
